@import './config/variables'
@import './config/mixins'
@import './config/utilities'

body
  margin: 0
  font-family: $s-font
  font-size: 16px
  background: #f9f9f9
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

#main-content
  margin-left: $sidenav-width

  .content-wrapper
    padding: 0 15px

a
  @include transition

  &:hover
    text-decoration: none